.hero{
    height: 100vh;
}

.logoDesc{
    color: #787A85;
}

.registerButton{
    height: 10vh;
    border-radius: 12px;
    background-color: #2F3C98;
    border-color: #2F3C98;
    width: 10vw;
}

.signInButton{
    height: 10vh;
    width: 10vw;
    border-radius: 10px;
}
.buttons{
    align-self: center;
    padding-left: 200px;
}